<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.martin.minesweeper">

    <application
        android:allowBackup="true"
        android:icon="@drawable/minesweeperlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/minesweeperlogo"
        android:supportsRtl="true"
        android:theme="@style/theme2">
        <activity android:name=".MainActivity"></activity>
        <activity
            android:name=".opening"
            android:theme="@style/theme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".highScore"
            android:theme="@style/AppTheme">

        </activity>
    </application>

</manifest>